name: build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y z80asm make

      - name: Run Makefile
        working-directory: ./myroms
        run: make

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: 000contents
          path: myroms/000contents.bin
